<template>
  <form
    class="post-form"
    @submit.prevent="createPost"
  >
    <div class="input-field">
      <input
        v-model="post.title"
        placeholder="Название"
        type="text"
      >
    </div>
    <div class="input-field">
      <input
        v-model="post.body"
        placeholder="Описание"
        type="text"
      >
    </div>
    <button
      class="btn"
      type="submit"
    >
      Создать
    </button>
  </form>
</template>

<script>
export default {
  data: () => {
    return {
      post: {
        title: '',
        body: '',
        userId: 1
      }
    }
  },
  methods: {
    createPost () {
      this.$emit('submit', { ...this.post })
    }
  }
}
</script>
