<template>
  <ul class="posts-list">
    <li
      v-for="post in posts"
      :key="post.id"
    >
      <nuxt-link
        :to="`/${post.id}`"
      >
        {{ post.title }}
      </nuxt-link>
    </li>
  </ul>
</template>

<script>
export default {
  props: {
    posts: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style lang="scss" scoped>
ul {
  li {
    a {
      font-size: 18px;
    }
    margin-bottom: 10px;
  }
}
</style>
