<template>
  <div
    v-if="post"
    class="post"
  >
    <nuxt-link to="/">
      Назад
    </nuxt-link>
    <h4>
      {{ post.title }}
    </h4>
    <p>
      {{ post.body }}
    </p>
  </div>
</template>

<script>
export default {
  props: {
    post: {
      type: Object,
      default: null
    }
  }
}
</script>
