<template>
  <div class="post-page">
    <v-post
      :post="post"
    />
  </div>
</template>

<script>
import VPost from '@/components/VPost.vue'

export default {
  components: {
    VPost
  },

  data: () => {
    return {
      post: null
    }
  },

  async created () {
    try {
      this.post = await this.$posts.show(this.$route.params.id)
    } catch (error) {
      console.error(error)
    }
  }
}
</script>
