<template>
  <div class="post-create-page">
    <nuxt-link to="/">
      Назад
    </nuxt-link>
    <h4>Создание статьи</h4>
    <v-post-form
      @submit="createPost"
    />
  </div>
</template>

<script>
import VPostForm from '@/components/VPostForm.vue'

export default {
  components: {
    VPostForm
  },
  methods: {
    async createPost (post) {
      try {
        await this.$posts.create(post)
        this.$router.push('/')
      } catch (error) {
        console.error(error)
      }
    }
  }
}
</script>
