<template>
  <div class="posts">
    <div class="top-info">
      <h2>Статьи</h2>
      <nuxt-link class="btn" to="/create">
        Создать статью
      </nuxt-link>
    </div>

    <v-posts-list
      :posts="posts"
    />
  </div>
</template>

<script>
import VPostsList from '@/components/VPostsList.vue'

export default {
  components: {
    VPostsList
  },

  data: () => {
    return {
      posts: []
    }
  },

  async created () {
    try {
      this.posts = await this.$posts.index()
    } catch (error) {
      console.error(error)
    }
  }
}
</script>

<style lang="scss" scoped>
h2 {
  margin: 0;
}
.top-info {
  display: flex;
  align-items: center;
  .btn {
    margin-left: 30px;
  }
}
</style>
